@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: rgb(0, 183, 199);
  --primary-hover: rgb(0, 160, 175);
}

.bg-primary {
  background-color: var(--primary-color);
}

.hover\:bg-primary:hover {
  background-color: var(--primary-hover);
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  animation: wave 2s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important; /* Text color */
    transition: background-color 5000s ease-in-out 0s; /* Prevent flash */
}
